In [1]:
import os
import pandas as pd
import generate_dataset

In [2]:
#  Define the name of the dataset dir
dataset = 'peteZS'

#  Define image shuffle seed. If None, images will not be shuffled
shuffle = None

#  Create shift images?
shift = False

#  Apply Z-Scale? If True, z-scale will be applied to each img. If false, data will be normalized to [0,1]
z_scale = True

#  Define bbox scale factor
scale_factor = 3

generate_dataset.generate(dir_name=dataset, shuffle=shuffle, shift=shift, z_scale=z_scale, scale_factor=scale_factor)

Dataset name: peteZS
Shuffle: None
Shift: False
Scale factor: 3
Z-Scale: True
DATASET/peteZS exists!
Overwrite? [y/n] y
Overwriting directories...
Creating directories...
Generating image...
Generating polygons and labels...
Generating bounding boxes...
Correcting bounding boxes...
Loading the annotation array...
Saved ann.png
Looping training bboxes...

100%|██████████| 309/309 [00:11<00:00, 26.91it/s]

Looping validation bboxes...

100%|██████████| 77/77 [00:05<00:00, 14.39it/s]

All done yay

In [3]:
#  Inspect logged data. These files contain statistics regarding the raw data, before the zscale is applied.
radio_data = pd.read_csv(os.path.join('DATASET', dataset, 'radio_data.csv'))
ha_data = pd.read_csv(os.path.join('DATASET', dataset, 'ha_data.csv'))

In [4]:
radio_data.head()

   Image      Mean  Standard Deviation   Maximum   Minimum
0      0  0.002133            0.004159  0.071218 -0.000114
1      1  0.000668            0.000701  0.013721  0.000201
2      2  0.009667            0.017331  0.128181  0.001236
3      3 -0.000081            0.000101  0.001005 -0.000292
4      4  0.000461            0.000743  0.007797  0.000019

In [5]:
ha_data.head()

   Image       Mean  Standard Deviation      Maximum   Minimum
0      0   4.843437           28.815887  3196.582500 -6.300076
1      1   1.156681            2.124833    22.988136 -2.239241
2      2  18.490273           37.677570   829.805700  0.001236
3      3   0.299627           10.408472   855.476260 -2.319883
4      4   0.937074            3.961634   253.854980 -6.204712

In [6]:
radio_data.describe()

            Image        Mean  Standard Deviation     Maximum     Minimum
count  309.000000  309.000000          309.000000  309.000000  309.000000
mean   154.000000    0.001249            0.003972    0.116440   -0.000316
std     89.344838    0.002944            0.008334    0.264265    0.000578
min      0.000000   -0.000665            0.000098    0.000657   -0.002569
25%     77.000000    0.000139            0.000658    0.009179   -0.000536
50%    154.000000    0.000502            0.001353    0.030641   -0.000285
75%    231.000000    0.001133            0.003534    0.118687   -0.000032
max    308.000000    0.033555            0.068625    2.293909    0.002098

In [7]:
ha_data.describe()

            Image        Mean  Standard Deviation      Maximum     Minimum
count  309.000000  309.000000          309.000000   309.000000  309.000000
mean   154.000000    2.991530           21.141534  2000.732657   -5.323515
std     89.344838    5.634332           17.963528  1300.803161    2.645464
min      0.000000   -0.080268            0.175366     2.092787   -9.105162
25%     77.000000    0.594985            9.236162   460.045230   -7.378841
50%    154.000000    1.345015           19.764654  2432.735400   -5.950164
75%    231.000000    3.066281           27.072810  2985.523200   -3.923920
max    308.000000   48.848263          121.987270  5777.570000    6.564007